
.opening {
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF;
}
.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%;
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}


/* Facebook */
.loginBtn--facebook {
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C;
}
.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}
.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1);
}

.profile {
  text-align: center;
  width: 80%;
  height: 100%;
  margin: auto;
  /*background-color: rgba(196, 222, 237, 1);*/
  
  font: normal 1px/normal Arial, Helvetica, sans-serif;
  color: rgba(52,53,52,1);
  -o-text-overflow: clip;
  text-overflow: clip;
  /*-moz-box-shadow:  0px 0px 50px rgba(196, 222, 237, 1);
  -webkit-box-shadow: 0px 0px 50px rgba(196, 222, 237, 1);
  box-shadow: 0px 0px 50px rgba(196, 222, 237, 1);*/
  /* #1 */
  border: 5px solid hsl(211, 78%, 68%);
  
  /* #2 */
  padding: 5px;
  background: hsl(211, 78%, 65%);
  
  /* #3 */
  outline: 5px solid hsl(211, 78%, 72%);
  
  /* #4 AND INFINITY!!! (CSS3 only) */
  box-shadow:
      0 0 0 10px hsl(211, 78%, 76%),
      0 0 0 15px hsl(211, 78%, 80%);
    
}

.cover {
  margin:auto;
  width: 70%;
  height: 100%;
  border:0px solid #021a40;
  display:block;
}

.picture {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}


.button {
  display: inline-block;
  border-radius: 4px;
  background-color: hsl(211, 66%, 65%);
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  width: 50;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}