<!-- templates/lab_5/partials/header.html -->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="">Wyvern Eye</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
     
      <div class="panel-footer">
       {% if session_login %}
        <a href="{% url 'lab-9:auth_logout' %}" class="btn btn-danger pull-right" onclick="return confirm('Keluar?')">
            Logout </a>
             {% endif %}

        {% if cookie_login %}
        <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger pull-right"> Reset Cookies (Logout) </a>
      {% endif %}
      </div>
     

      

    </div><!--/.nav-collapse -->
  </div>
</nav>
